{% extends "base.html" %}

{% block title %}Treatment Details - {{ treatment.appointment_id }}{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card panel-card p-3">
        <div class="d-flex align-items-center mb-3">
          <h5 class="mb-0">Treatment Details</h5>
          <div class="ms-auto small text-muted">
            <a href="{{ url_for('Patient_History', Patient_ID=Patient_ID) }}"
                class="text-decoration-none">&larr; Back to Treatment History</a>
          </div>
        </div>
        <div class="mb-3">
          <strong>Appointment Date:</strong> {{ treatment.appointment_date }}
        </div>
        <div class="mb-3">
          <strong>Doctor:</strong> 
          <a href="{{ url_for('Doctor_Profile',User_ID = treatment.doctor_id) }}" class="text-decoration-none">
          {{ treatment.doctor_first_name }} {{ treatment.doctor_last_name }}
          </a>
        </div>
        <div class="mb-3">
          <strong>Speciality:</strong> {{ treatment.specialities }}
        </div>

        <hr>

        <div class="mb-3">
          <h6>Diagnosis</h6>
          <p class="small text-break">{{ treatment.diagnosis or '—' }}</p>
        </div>

        <div class="mb-3">
          <h6>Prescription</h6>
          <p class="small text-break">{{ treatment.prescription or '—' }}</p>
        </div>

        <div class="mb-3">
          <h6>Notes</h6>
          <p class="small text-break">{{ treatment.notes }}</p>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
